@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;800&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}